.container {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  text-transform: capitalize;
}
.listTitle {
  display: grid;
  grid-template-columns: 1.3fr 2.1fr 0.6fr;
  font-weight: bolder;
  background-color: rgba(128, 128, 128, 0.192);
  border-radius: 50px;
  padding: 10px;
}
.listOption {
  padding: 5px 12px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}
.option {
  min-width: 65px;
  width: 100%;
  /* background-color: green; */
  display: grid;
  grid-template-columns: 1.3fr 2.1fr 0.6fr;
  border-bottom: 1px solid rgba(120, 120, 120, 0.09);
  padding: 5px 0;
  gap: 10px;
}
.option span {
  display: flex;
  align-items: center;
}
